#form-div {
  width: 50%;
  margin: 0 auto;
}

#form-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3em;
}

#submit {
  width: 20%;
  margin: 0 auto;
  border: none;
  background-color: aqua;
  height: 30px;
}
